<html>
    <head>
        <title>My personal blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My personal blog</a></h1>
            <br />
        </div>
        
        <div>
            <h2><a href=''>Ok. It's first post</a></h2>
            <p>published: 05.11.2020, 22:18</p>
            <p>Ты должна следовать этим правилам закрытия тегов и вложенности элементов: если ты их нарушишь, браузер не сможет интерпретировать код и корректно отобразить страницу.</p>
            <br />
        </div>

        <div>
            <h2><a href=''>Let's go. It's second post</a></h2>
            <p>published: 05.11.2020, 23:00</p>
            <p>Два других div элемента содержат текст записи и дату публикации: h2 тег с заголовком записи, который также является ссылкой, и два p (параграфа) с текстом, один для даты, а другой — для самого текста записи.</p>
            <br />
        </div>
    </body>    
</html>